#App {
  text-align: left;
  padding: 4vw;
}

#App p {
  background: lightgray;
  padding: 2vw;
  margin: 0 0 2vw 0;
  word-wrap: break-word;
  width: auto;
}

#App pre {
  word-wrap: break-word;
}

#App p button {
  margin: 1vw;
  width: 41vw;
  padding: 1vw;
}